body {
  background: #f6f6f8;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Oswald" sans-serif;
  color: #2e2d33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #f6f6c4;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 1em 0 0;
  font-size: 60px;
  font-weight: bold;
  color: #f6f6c4;
}

h2 {
  font-weight: bold;
  color: #32302E;
  font-size: 28px;
}

article {
  background-color: #d73737;
  height: 406px;
  text-align: center;
  position: relative;
  margin-bottom: 180px;
  margin-bottom: 150px;
  width: 100%;
  z-index: 1;
}

.player__spinner-wrap {
  display: block;
  width: 327px;
  height: 327px;
  position: relative;
  left: 50%;
  margin-left: -163px;
  top: 0;
  top: 19px;
}

.player__spinner-wrap.pulse{
  animation:pulse linear 0.5s;

}

.player__spinner-wrap * {
  cursor: pointer;
}
.player__spinner-outer {
  display: block;
  width: 327px;
  height: 327px;
  position: absolute;
  left: 50%;
  margin-left: -163px;
  border-radius: 50%;
  background: url('../assets/spinner-outer.png') center center no-repeat #32302e;
}

           .player__spinner-wrap.playing   .player__spinner-outer{
              animation:spin-cw infinite linear 5s;
            }

        .player__spinner-wrap.playing   .player__spinner-center{
              animation:spin-cw-reverse infinite linear 2.0s;
            }
            @keyframes spin-cw{
              from {
                transform: rotate(0deg); 
              }
              to{
                transform: rotate(360deg); 
              }
            }
          @keyframes spin-cw-reverse{
              from {
                transform: rotate(360deg); 
              }
              to{
                transform: rotate(0deg); 
              }
            }
            @keyframes pulse{
              from{
                transform: scale(1.3);
              } 
              to{
                transform: scale(1);
              }
            }




.player__spinner-center {
  height: 200px;
  width: 200px;
  position: absolute;
  background: url('../assets/spinner-center.png') center center no-repeat;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin: -99px;
  pointer-events: none;
}
.player__play-sprite {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -35px;
  background: url('../assets/play-sprite.png') 0px 0px no-repeat;
  height: 70px;
  width: 70px;
}

.player__spinner-wrap.playing   .player__play-sprite{
  background-position:0px -70px;
}




